<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>MUMMY'S FOOD</title>
</head>
<body>

{{>navbar}}

{{!-- hero section start --}}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
            {{!-- left side text --}}
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                <h1>BOHOT BHUKH LAGI HAI 😢</h1>
                <h1>Mummy Khana Do</h1>
                <P><span class="bold-style"> Powerful Mothers </span>Make Places Powerful.</P>
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_H5G3ZTkMIh7Gr0" async> </script> </form>
            </div>
            {{!-- right side image --}}
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                 <figure>
                     <img src="../css/images/mummy.png" alt="mummy_image">
                 </figure>
                 </div>
            </div>
        </div>
    </div>
</div>

{{!-- hero section ends --}}

{{!-- about us start --}}

{{>vision}}

{{!-- about us ends --}}

{{!-- our services start --}}

{{>dishes}}

{{!-- our services ends --}}

{{!-- maps start --}}
{{>maps}}
{{!-- maps ends --}}

{{!-- contact us start --}}
{{>contact}}
{{!-- contact us ends --}}
<br>
{{!-- footer starts --}}
<footer>
    Created by @VishalRaj
</footer>
{{!-- footer starts --}}

<script src="../jq/jquery.js" type="text/javascript"></script>
<script src="../js/bootstrap.js" type="text/javascript"></script>
</body>
</html>