<div class="container-fluid mt-5 about-style" id="dishesid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Dishes</h1>
            <p class="text-center sub-heading">Choose Your Meal Now</p>
            <div class="row">
                   <div class="col-md-4">
                         <div class="box">
                             <div class="our-services settings">
                                 <div class="icon">
                                     <img src="../css/images/mother.png" alt="">
                                 </div>
                                 <div class="our-services-content">
                                     <h4>Lunch - VEG</h4>
                                     <p>(Rice+Dal+Mix-Veg+Roti+Dahi+Pickles+Papad+Salad - Indian Thali), Biryani</p>
                                 </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                         <div class="box">
                             <div class="our-services speedup">
                                 <div class="icon">
                                     <img src="../css/images/mother.png" alt="">
                                 </div>
                                 <div class="our-services-content">
                                     <h4>Dinner - VEG</h4>
                                     <p>Roti/Puri, ButterPaneer/Mushroom, MixVeg, Dahi, Pickles</p>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                         <div class="box">
                             <div class="our-services privacy">
                                 <div class="icon">
                                     <img src="../css/images/mother.png" alt="">
                                 </div>
                                 <div class="our-services-content">
                                     <h4>Special - VEG</h4>
                                     <p>(Aaloo/Sathu/Paneer/MixVeg-Paratha+Pickles+Dahi), Dosa, Chowmein</p>
                                 </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                         <div class="box">
                             <div class="our-services backups">
                                 <div class="icon">
                                     <img src="../css/images/mother.png" alt="">
                                 </div>
                                 <div class="our-services-content">
                                     <h4>Lunch - NON VEG</h4>
                                     <p>Chicken/Egg Biryani + Dahi + Pickles + Salad, Rice + Chicken/Fish + Salad</p>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                         <div class="box">
                             <div class="our-services ssl">
                                 <div class="icon">
                                     <img src="../css/images/mother.png" alt="">
                                 </div>
                                 <div class="our-services-content">
                                     <h4>Dinner - NON VEG</h4>
                                     <p>Roti/Naan + ButterMasala/Kadhai/Hyderabadi Chicken + Salad</p>
                                  </div>
                                  
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                         <div class="box">
                             <div class="our-services database">
                                 <div class="icon">
                                     <img src="../css/images/mother.png" alt="">
                                 </div>
                                <div class="our-services-content">
                                     <h4>Special - NON VEG</h4>
                                     <p>Egg-Paratha, Egg/Chicken Roll, Egg Chowmein, Chicken Manchurian</p>
                                 </div>
                                 
                             </div>
                          </div>
                        </div>
                 
            </div>
        </div>
    </div>
</div>
            