<div class="container-fluid mt-5 about-style" id="visionid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">OUR VISION</h1>
            <p class="text-center sub-heading">Maa Ke Haath Ka Khaana</p>
            <div class="row">
                {{!-- left side text --}}
                <div class="col-md-6 col-12 hero-text ">
                 <figure>
                     <img src="../css/images/food.jpg" alt="mummy_food_image">
                 </figure>
            </div>
            
            {{!-- right side image --}}
            
            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                <h1>WELCOME TO OUR KITCHEN 🐣 </h1>
                <P>Welcome To <span class="bold-style"> Mummy's Food </span>, An all time kitchen for our Foodie Indians. I know you don't 
                like Mess and Hotel Foods just like me in daily basis. So here is an initiative to bring homemade healthy meals at your
                doorsteps. The meal what you get will be made by our mothers so it will not be just a meal but a food with Full of Love on it.
                So just go And tell your Mother that here I'm taking cared by thousand of Mothers.</P>
                <button class="btn-style btn-primary">Read more</button>
            </div>
        </div>
    </div>
  </div>
</div>